*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
*_cache/
*_files/
_site/*

cruise_reports/cruise_reports/*
ctd_reports/ctd_reports/*
**/*.quarto_ipynb
data/*
*html
quarto_file_input_list.txt

