project:
  type: website
  pre-render: R/pre_render/pre_render.R
  render:
    - "index.qmd"
    - "station_alignment.qmd"
    - "ctd_reports/ctd_reports.qmd"  # CTD reports listing page
    - "ctd_reports/ctd_reports/*.qmd"  # all generated CTD reports
    # NOTE: cruise_reports are deprecated & disabled. TODO: rm entirely

website:
  title: "MBON Cruise CTD Reports"
  navbar:
    left:
      # - index.qmd
      - station_alignment.qmd
      - ctd_reports/ctd_reports.qmd
      #- cruise_report/cruise_reports.qmd
      - href: https://github.com/USF-IMARS/seus-mbon-cruise-ctd-processing
        text: Source Code on GitHub
        
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    code-fold: true
    message: false
    warning: false

execute:
  cache: true
