project:
  type: website
  pre-render: R/pre_render/pre_render.R
  render:
    - "index.qmd"
    - "ctd_reports/ctd_reports/*.qmd"
    # NOTE: cruise_reports are deprecated & disabled. TODO: rm entirely

website:
  title: "MBON Cruise CTD Reports"
  navbar:
    left:
      - index.qmd
      # - ctd_report/ctd_reports.qmd
      - cruise_report/cruise_reports.qmd
      - href: https://github.com/USF-IMARS/seus-mbon-cruise-ctd-processing
        text: Source Code on GitHub
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

execute:
  cache: true
